<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>there is an error</h1>
    <p>we are working on it. sorry for this</p>

<%- include('includes/end.ejs') %>